body {
    margin: 0;
    padding: 0;
    background-image: url(/img/335ab7417ecf122263b99893a2d67e98.jpeg);
    background-size: 1450px 793px;
    background-position: center top;
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 40px;
    overflow-x: hidden;
    background-color: hwb(75 96% 2%);

}
header, nav {
    display: inline-flex;
    align-items: center;
    margin-left: 120px;
}
nav {
    margin-left: auto;
    margin-left: 80px;
}
h1 {
    margin-bottom: o;
    margin-right: 20px;
    font-size: 24px;
    color:#252B42;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
nav ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-right: 16px;
}
nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #737373;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
nav ul li:first-child {
    margin-left: 0;
}
.sub{ 
    font-family: "Montserrat", sans-serif;
    margin-left: 120px;
    margin-top: 140px;
}
h2 {
    font-size: 43px;
    display: block;
    line-height: 0.5;
    color:#252B42;
}
.p1 {
    width: 250px;
    margin-top: 55px;
    color: #737373;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button {
    border-radius: 25px;
    border: 1px solid #0D5C63; 
    color:#0D5C63;
    background-color: rgb(250, 250, 251);
    padding: 10px 20px;
    margin-right: 5px;
    margin-top: 30px;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover{
    background-color: #FF7B47;
    color: white;
    border-color: #FF7B47;
}
.box1  {
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    margin-left: 120px;
    margin-top: 120px;
}
.box {
    position: relative;
    background-color: white;
    margin-right: 30px;
    width: 328px;
    height: 242px;
}
h3 {
    margin-top: 105px;
    width: 200px;
    margin-left: 30px;
}
.p2 {
    margin-left: 30px;
    width: 200px;
}
.box:hover{
    background-color: #0D5C63;
    color: white;
}
.box:hover .p2 {
    color: white;
}
.box:hover .img {
    background-color: white;
}
.img {
    position: absolute;
    top: 30px;
    margin-left: 30px;
}
.img1 {
    position: absolute;
    top: 30px;
    margin-left: 30px;
    background-color: #0D5C63;
    color: #0D5C63;
}
.t2 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    
}
h4{
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
}
.p3 {
    font-size: 13px;
    position: absolute;
    width: 400px;
    margin-left: 500px;
}
.box2{
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    margin-left: 120px;
    margin-top: 120px;
}
.box3{
    position: relative;
    background-color: #ffffff;
    margin-right: 30px;
    width: 238px;
    height: 209px;
}
h6{
    font-size: 50px;
    position: absolute;
    margin-left: 53px;
    margin-top: 25px;
}
.p6{
    position: absolute;
    margin-top: 90px;
    margin-left: 35px;
    font-size: 20px;
    color: #737373;
}
.img3 {
    margin-left: 100px;
    margin-top: 20px;
}
.t3 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 0;
}
.pra {
    font-size: 40px;
}
.ap5{
    font-size: 13px;
    position: absolute;
    width: 400px;
    margin-left: 500px;
    margin-top: 2px;
}